#!/usr/bin/make -f

export PYBUILD_NAME = cumin
export PYBUILD_TEST_PYTEST = 1

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_test:
	py.test --strict --cov-report term-missing --cov=cumin cumin/tests/unit

# Hotfix for https://phabricator.wikimedia.org/T174008
override_dh_installexamples:
	dh_installexamples
	rm -rvf $(CURDIR)/debian/cumin/usr/doc
